@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --accent-color:rgb(187, 20, 202);
    --select-color:rgb(54, 54, 172) ;
    --leave-btn-color:red ;
}
* {
    padding:0  ; 
    margin: 0;
}
*::selection {
    background-color: var(--select-color);
}
.page {
    height:100vh ; 
    width:100vw ; 
    display:flex ;
    justify-content: flex-start;
    align-items: flex-start;
    overflow:hidden ; 
}
.info {
    height:100vh ; 
    width:18vw ; 
    display:flex ; 
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color:white;
    background-color: var(--accent-color);
    overflow-y: auto;
}
.info > .logo {
    font-size:5vmin ; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
    font-weight:600;
    margin-top:3vh ;
}
big {
    font-size:4vmin ; 
    font-family: 'Quicksand', sans-serif;
    margin:1vh 0 ;
}
.users {
    margin-top:6vmin;
    width:100% ; 
    display:flex ; 
    flex-direction: column;
    align-items: center;
}
.user {
    border-top:1px solid white ; 
    list-style: none;
    width:100% ; 
    text-align: center;
    padding:2.5vh 0 ; 
    font-size:3.5vmin ;
    transition:400ms ease-out ; 
    font-family: 'Raleway', sans-serif;
}
.user:hover {
    color:var(--accent-color) ; 
    background-color: white;
}
.users__wrapper {
    width:100% ; 
    border-bottom: 1px solid white;
}
.chat {
    width:92vw ; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.room__info {
    border:1px solid black ;
    width:100%; 
    display:flex ; 
    justify-content: space-between;
    align-items: center;
    /* flex:2 ;  */
    height:10vh ; 
}
.room__name {
    margin-left: 1vw ; ;
}

button.leave{
    /* color: */
    height:90% ; 
    margin-right: 1vw;
    padding:0 1vw ; 
    font-size:3.2vmin ; 
    color:white ; 
    background-color: var(--leave-btn-color);
    border:0 ; 
    border-radius: 10px; ;
    transition:400ms ease ; 
    border:1px solid var(--leave-btn-color);
    margin-top: 0.5vh;
}
button.leave:hover {
    color:var(--leave-btn-color) ; 
    background-color: whitesmoke;
}
.main__chat {
    border:1px solid black ;
    height:72vh ; 
    width:100% ; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x:hidden ; 
    
}

.OutgoingMessage{
    border:1px solid black ; 
    padding:1vh 0 ; 

}

.IncomingMessage{
    border:1px solid black ; 
    padding:1vh 0 ; 

}
.tooltip {
    text-align: center;
    border-radius: 15px;
    width:95.5% ; 
    padding:2vmin 3vmin ; 
    font-size:4vmin ; 
    color:white ; 
    margin: 1vh 0 ; 
    margin-left:1vh ;
    text-align: center;
    border-radius: 15px;
}

.message__input {
    width:70% ; 
    padding:2vh 0 ; 
    font-size:120%  ; 
}
.message__input:focus {
    border:2px solid var(--accent-color) ; 
    box-shadow:none ; 
    outline:none ; 
}
.send__msg{
    /* color:blue  ;  */
    /* height:40px ;  */
    width:8% ; 
    height:40% ; 
    margin-top: 203;
    background-color: blue;
    border:0 ;  

}
.send__msg:active{
    transform:scale(0.9)
}
.message__box{
    /* height:1000%;  */
    /* height:48vh; */
    width:100% ; 
    display:flex ; 
    justify-content: center;
    align-items: center;
    height:20vh ; 
    border:1px solid black ; 
}
/* i {

} */
.tired {
    height:100% ; 
    width:100% ; 
    display:flex ; 
    justify-content: center;
    align-items: center;
}
 .send__msg > i {
    font-size:1rem ; 
    color:white ; 
    margin:0 ; 
    animation: send_animation ease-in-out 2s infinite;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50%{
        opacity:0.5 ; 
    }
    100% {
        opacity:1 ; 
    }
}

@keyframes send_animation {
    50%{
        transform: scale(1.5);
    }
    100% {
        transform:scale(1) ; 
    }
}
.react-scroll-to-bottom--css {
    background-color: black;
}