.sc-bdVaJa {
    height:100% !important; 
    border:1px solid black;
}
span[role = "presentation"]  > img{
    width:30px !important ; 
    height:30px !important ; 
}
.sc-bwzfXH {
    margin:0 !important; 
    height:100% !important; 
}