@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
:root{
    --accent-color:rgb(187, 20, 202);

    --select-color:rgb(54, 54, 172) ; 
}*{
    padding:0 ; 
    margin: 0;
}
*::selection {
    color:white ; 
    background-color: var(--select-color);
}
.page {
    height:100vh; 
    width:100vw ; 
    background:linear-gradient(45deg , rgb(190, 63, 190) , white) ; 
    overflow: hidden;
}

i {
    font-size:30vmin ; 
    color:var(--accent-color);
    margin:3vmin 0 ; 
}
h2.logo {
    font-size:12vmin ; 
    color:var(--accent-color) ; 
    font-family:"Poppins" , sans-serif;
}
.content {
    color:var(--accent-color) ; 
    font-family: 'Poppins', sans-serif;
    font-size:5vmin ; 
    padding:5vh 0 ; 
}
.btn {
    color:white ; 
    background-color: var(--accent-color);
    border:0 ; 
    padding:4vh 3.5vw ; 
    margin:0 1vw ; 
    border-radius:10px ; 
    font-size:3.5vmin ; 
    transition: 400ms ease-in;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover{
    color:var(--accent-color) ; 
    background-color: white;
    transform: scale(1.05);
}